<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CS-Script" version="4.8.3" />
  <package id="LightInject" version="6.6.4" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.1.0" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.1.0" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="4.1.0" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="4.1.0" />
  <package id="Microsoft.Extensions.DependencyModel" version="6.0.0" />
  <package id="Microsoft.NETCore.Targets" version="5.0.0" />
  <package id="NReco.LambdaParser" version="1.1.0" />
  <package id="SharpSerializer-mod" version="3.0.1.2" />
  <package id="SixLabors.ImageSharp" version="3.0.2" />
  <package id="Sprache" version="2.3.1" />
  <package id="System.Collections.Immutable" version="7.0.0" />
  <package id="System.Private.Uri" version="4.3.2" />
  <package id="System.Reflection.Metadata" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Runtime.Loader" version="4.3.0" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.3" />
</packages>